# Ignore everything
*

# Keep this file
!.gitignore

# Allow Git to traverse directories
!*/

# Track only these directories
!rofi/
!rofi/**

!waybar/
!waybar/**

!niri/
!niri/**

!ghostty/
!ghostty/**

!fastfetch/
!fastfetch/**

!mpd/
!mpd/**

!rmpc/
!rmpc/**

!Wallpapers/
!Wallpapers/**

!swaync/
!swaync/**

!swaync.png
!rice.jpeg
!rmpc.png
!README.md
